/*
Aufgabe:  Semester-Aufgabe Portfolio
Name:     Leonie Storz
Matrikel: 255077
Datum:    30.04.17

Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.*/

/*Einbettung font*/

@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');

/************************************
Bildschirmbreite Smartphone <=570px
*************************************/


/***************Header***************/

#hauptnavigation li {display:inline;}

#balken0 {
		  position:fixed;
		  background-color:rgb(0,0,0);
		  width:104.5%;
		  margin-top:-3em;
		  margin-left:-1em;
		  height:4em;
		  z-index:299;}

	  
#hauptnavigation {
				  position:fixed;
				  background-color:black;
				  font-size:24pt;
				  padding-top:0.5em;
				  padding-left:22%;
				  margin-top:-0.1em;
				  margin-left:-1em;
				  height:2em;
				  width:90%;
				  word-spacing:0.8em;
				  z-index:300;
				  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
		 		  background-image: linear-gradient(
		          to left,
		          red,
		          orange,
		          yellow,
		          green,
		          blue,
		          indigo);}

a:link {color:white;}
				  
a:visited {color:white;}	
			  				  
a:hover {
		 cursor:pointer;
		 border-bottom:1px solid white;}
		 
#letterL {
		   position:fixed;
		   font-size:34pt;
		   margin-left:0.5em;
		   margin-top:0%;
		   color:white;
	       z-index:210;}
      
#letterS {
		  position:fixed;
	      font-size:34pt;
	      margin-left:0.9em;
	      margin-top:0.25em;
	      color:white;
          z-index:210;}		 				  
				  				  
/***************Hintergrundbild und Name***************/

#name {
		position:absolute;
		font-family:'Poiret One';
		color:black;
		font-size:67pt;
		top:2em;
		margin-left:8%;
		z-index:199;}
		

#divhintergrund1 {
				  position:relative;
				  display:block;}

#hintergrund1 {
		       margin-top:3em;
		       margin-left:-1em;
			   position:relative;
			   display:block;
			   height:65%;
			   width:104.85%;
			   opacity: 0.7;}
         
#balken1 {
		 position:absolute;
		 background-color:rgb(0,0,0);
		 width:101.85%;
		 margin-top:0em;
		 margin-left:-1em;
		 height:3em;}

/***************Aside*******************/

aside {display:none;}

#menue {
		 background-color:black;
		 height:3em;
		 width:6em;
		 margin-top:-0.15em;
		 margin-left:-1em;
		 padding-left:1em;
		 border-top-right-radius:50px;
		 border-bottom-right-radius:50px;}

#aufklappen {
			 background-color:black;
			 height:4em;
			 width:7em;
			 margin-top:8em;
			 margin-left:-1.5em;
			 border-top-right-radius:50px;
			 border-bottom-right-radius:50px;}

#aufklappen:hover {cursor:pointer;}



#asidebereich {
				position:absolute;
				background-color:black;
				color:white;
				width:40%;
				margin-top:6em;
				margin-left:-1em;
				padding-top:2em;
				z-index:400;}	
	  			
#asidenavigation {
				  background-color:black;
				  color:white;
				  font-size:10pt;
				  text-align:center;
				  width:28%;
				  height:16em;
				  line-height:4em;
				  padding-top:4em;
				  z-index:400;}
				  
#projects {
		   color:white;
		   text-align:center;
		   font-size:20pt;
		   z-index:400;}
		   
#zeichenblock {
			   width:100px;
			   height:100px;
			   margin-left:35%;
			   border-radius:100px;
			   z-index:400;}
			   		   

#button0 {
		   background-color:black;
		   font-size:12pt;
		   padding-left:-10%;
		   width:190%;
		   color:white;
		   border:none;
		   line-height:1.5em;
		   z-index:400;}	
		   	    
#button1, #button4 {
				    background-color:black;
				    font-size:12pt;
				    width:190%;
				    color:white;
				    border:none;
				    line-height:1.5em;
				    z-index:400;}

#button2, #button3 {
					 background-color:black;
					 font-size:12pt;
					 color:white;
					 border:none;
					 line-height:1.5em;
					 z-index:400;}
#button0:hover {
				cursor:pointer;
				border-bottom:1px solid white;}
				
#button1:hover {
				cursor:pointer;
				border-bottom:1px solid white;}
				
#button2:hover {
				cursor:pointer;
				border-bottom:1px solid white;}
				
				
#button3:hover {
				cursor:pointer;
				border-bottom:1px solid white;}
				
#button4:hover {
				cursor:pointer;
				border-bottom:1px solid white;}
				

				
#buttonpfeile { 
				width:50px;
				height:50px;
				border-radius:100px;
				margin-top:-0.5em;
				margin-left:-60%;
				margin-bottom:2em;
				transform: rotate(180deg);
				border-radius:100px;
				z-index:400;}
				 
#einklappen {
			 width:40px;
			 height:40px;
			 border-radius:100px;
			 margin-top:1.5em;
			 margin-left:70%;
			 margin-bottom:2em;
			 z-index:400;}
				 
#einklappen:hover {cursor:pointer;}

/***************Projekte*******************/


#h1 {
	 margin-top:2em;
	 padding-left:2%;
	 border-bottom:2px solid black;
	 width:100%;}
		
#h2 {
	 margin-top:50em;
	 padding-left:2%;
	 border-bottom:2px solid black;
	 width:100%;}		
		
#h3 {
	 margin-top:25em;
	 padding-left:2%;
	 border-bottom:2px solid black;
	 width:100%;}	
	 
#h4 {
	 margin-top:40em;
	 padding-left:2%;
	 border-bottom:2px solid black;
	 width:100%;}
				
.projekte {
		    background-color:black;
		    position:relative;
		    height:370px;
		    width:350px;
		    display:block;
		    float:left;
		    margin-top:4em;
		    margin-left:2em;
		    z-index:204;
		    overflow:auto;}



#hochschulball {
				 margin-top:-4em;
				 margin-left:-2em;
				 margin-bottom:-1em;
				 width:22.8em;
				 
				 z-index:200;}

#pixplant {
			height:30em;
		    width:20.85em;
		    margin-bottom:-0.5em;
			z-index:202;}


#buchstabe {
			height:22.1em;
			width:30em;
			margin-left:-1em;
			margin-bottom:-1em;
			z-index:202;}

#fuerstenbergplakat {
					 height:30em;
					 width:20.85em;
					 z-index:202;
					 margin-bottom:-0.5em;}

#fuerstenbergflasche {
					  height:30em;
					  width:20.85em;
					 z-index:202;
					 margin-bottom:-1em;}
#messenger {
			 height:31em;
			 margin-bottom:-1em; 
			 z-index:202;}	
			 				 			
#awareness {
			
			 transform: rotate(270deg);
			 height:32em;
			 z-index:202;
			 }
			 					 
#mopsgedicht {
			  height:22em;
			  width:22em;
			  margin-bottom:-2em;
			
			  z-index:202;}			 
			 					
#shoppingsite {
				height:22em;
				width:35em;
				margin-bottom:-2em;
				z-index:202;}
				
#raumhafen {
			margin-bottom:-1em;}
	
.astromechs {
			  margin-bottom:-1em;
			  width:38em;}

.sculpting {
		    margin-bottom:-1em;
			width:40em;}
			
.raumschiff { margin-botom:-1em;}

.faces {margin-bottom:-0.5em;}

.text {
		position:absolute;
		font-size:11pt;
		width:170%;
		background-color:rgba(0,0,0,0.8);
		padding-top:8%;
		padding-left:3%;
		padding-right:3%;
		padding-bottom:1.8em;
		margin-top:2em;
		color:white;
		opacity:0;}
	

.projekte:hover {
				 opacity:0.75;
				 cursor:pointer;}
		
.projekte:hover .text {opacity:1;}	


#balken2 {
		 position:relative;
		 background-color:rgb(0,0,0);
		 width:104.5%;
		 margin-top:150em;
		 margin-left:-1em;
		 height:3em;}

/***************Body***************/	
		 
body {font-family:'raleway';}	

/*ÜberMich*/


#divuebermich {
			   position:absolute;
			   background-color:black;
			   height:500px;
			   width:11.5em;
			   margin-top:-10em;
			   margin-left:0%;
			   padding-left:3%;
			   color:white;
			   z-index:201;
			   top:10em;
			   opacity: 0.7;}

#uebermich {
		    position:absolute;
		    display:block;
		    width:80%;
		    color:white;
		    font-size:8.5pt;
		    z-index:190;
		    padding-left:5%;
		    top:13em;}

#profilbild {
			 height:115px;
			 width:115px;
			 margin-left:13%;
			 margin-top:1.5em;
			 border-radius:100px;
			 z-index:199;}

#divhintergrund2 {
				  position:relative;
				  display:block;
				  height: 770px;
				  margin-top:-1em;
				  margin-left:-1em;
				  overflow:hidden;}

#hintergrund2 {
			   margin-top:0em;
			   margin-left:-5.5em;
			   position:relative;
			   display:block;
			   height:65%;
			   width:170%;
			   opacity: 0.7;} 

#kreativitaet {
				font-size:18pt;
				color:white;
				padding-top: 2em;
				padding-left: 30%;
				height:90px;
			    width:340px;
				margin-top:-19em;
				margin-left:38.3%;
			    background-color:blue;
			    opacity:0.5;}	
				
#kreativitaetbild {
					margin-top:-0.5em;
					margin-left:-40%;
					height:50px;
					width:100px;
					z-index:1000;}
					
#kreativitaetschrift {margin-top:-2em;}
					
#malen {
		font-size:18pt;
		color:white;
		padding-top: 1.5em;
		padding-left: 30%;
		margin-top:0.5em;
		margin-left:38.3%;
		height:90px;
	    width:340px;
		background-color:green;
	    opacity:0.5;}									   			  					   

#malenbild {
			margin-top:-0.5em;
					margin-left:-40%;
					height:50px;
					width:100px;}

#malenschrift {margin-top:-2em;}
			
#programmieren {
				
				font-size:18pt;
				color:white;
				padding-top:0.5em;
				padding-left: 30%;
				margin-top:0.5em;
				height:110px;
	            width:340px;
				margin-left:38.3%;
				background-color:orange;
			    opacity:0.5;}
				
#programmierenbild {
					margin-top:0.5em;
					margin-left:-40%;
					height:50px;
					width:100px;}

#programmierenschrift {margin-top:-3em;}

#balken3 {
		  background-color:rgb(0,0,0);
		  width:104.5%;
		  margin-top: -17em;
		  margin-left:-1em;
		  height:3em;}

/*Kontakt*/

#divkontakt {
			   position:absolute;
			   background-color:black;
			   height:4em;
			   width:98.5%;
			   padding-left:3%;
			   color:white;
			   z-index:199;
			   top:3em;
			   opacity: 0.7;}

#kontakt {
		   position:absolute;
		   margin-top:1.5em;
		   font-size:12pt;
		   margin-left:40%;
		   width:50%;}

#divhintergrund3 {
				  position:relative;
				  display:block;
				  margin-top:-1em;
				  margin-left:-1em;}

#hintergrund3 {
				position:relative;
				display:block;
				height:65%;
				width:101.6%;
				opacity: 0.7;}


			   
#facebook:hover {cursor:pointer;}	
	   


#kontaktnameschrift {
					  margin-top:-22em;
					  margin-left:8%;
					  color:white;
					  position:absolute;}
#kontaktnamefeld {
					margin-top:-26.5em;
					margin-left:19%;
					position:absolute;
					background-color:black;
					opacity:0.5;
					border:1px solid white;
					color:white;}
						
#kontaktnamefeld:focus {
						background-color:white;
						color:black;}						

#kontaktmailschrift {
					  position:absolute;
					  margin-left:8%;
					  margin-top:-20em;
					  color:white;}
					   
#kontaktmailfeld {
					position:absolute;
					margin-left:19%;
					margin-top:-24em;
					background-color:black;
					opacity:0.5;
					border:1px solid white;
					color:white;}
					
#kontaktmailfeld:focus {
						background-color:white;
						color:black;}						

#kontaktnachrichtschrift {
						  position:absolute;
						  margin-left:8%;
						  margin-top:-17em;
						  color:white;}
						  
#kontaktnachrichtfeld {
						margin-top:-19em;
						position:absolute;
						margin-left:8%;
						height:15%;
						width:70%;
						background-color:black;
						opacity:0.5;
						border:1px solid white;
						color:white;}
						
#kontaktnachrichtfeld:focus {
							 background-color:white;
							 color:black;}							
#kontaktButton {
				 position:absolute;
				 margin-left:8%;
				 margin-top:-12.4em;
				 background-color:black;
				 opacity:0.5;
				 color:white;
				 border-radius:50px;
				 border:2px solid black;}	
				 
#kontaktButton:hover {
					  box-shadow: 0 14px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.3);
					  cursor:pointer;}					

#facebook { 
			   height:30px;
			   width:30px;
			   margin-top: 1em;
			   margin-left:0%;}
#instagram{ 
			   height:30px;
			   width:30px;
			   margin-top: 1em;
			   margin-left:0.5%;}			   


#hfu {
	  height:50px;
      width:150px;
	  margin-top:2em;
	  margin-left:70%;
	  cursor:pointer;}	  
			  			 

/*****************************************
Bildschirmbreite Tablet Portrait <=768px
*****************************************/


@media screen and (min-width:570px) {

/**************Header**************/

#hauptnavigation {padding-left:36%;}


		   				   
/**************Aside**************/	



#button0 {font-size:12pt;}
	   
/**************Projekte**************/
	

#h2 {margin-top:50em;}

#h3 {margin-top:20em;}

#h4 {margin-top:20em;}

.projekte {
			height:18em;
			width:45%;}
			



			
#buchstabe {
			width:23em;
			height:20em;}
			
#fuerstenbergplakat {
				     height:30em;
				     width:22em;}

#fuerstenbergflasche {
					  height:30em;
					  width:22em;}
			   
#messenger{height:40em;}

#awareness {
			height:25em;
			margin-top:-3em;
			margin-left:3em;}
			
			  
.text {
	   width:95%;
	   font-size:14pt;
	   margin-top:3.5em;}
	   
#balken2 {margin-top:75em;}	 
  
/**************Body**************/

/*ÜberMich*/


#hintergrund2 {margin-left:-9em;}	
	   
#kreativitaet {
				font-size:19pt;
				margin-top:-18.5em;
				margin-left: 30.5%;}	
				
#kreativitaetbild {
					top:2em;
					height:90px;
					width:140px;}
#kreativitaetschrift {
					  margin-top:-3em;
					  margin-left:10%;}
					
#malen {
		font-size:19pt;
		margin-top:01em;
		margin-left: 30.5%;}									   			  					   

#malenbild {
			height:80px;
			width:110px;
			top:5em;}
			
#malenschrift {
				margin-top:-3em;
			 margin-left:10%;}
			 			
#programmieren {
				font-size:19pt;
				margin-top:1em;
				margin-left: 30.5%;}
				
#programmierenbild {
					height:80px;
					width:110px;
					top:11em;}

#programmierenschrift {
						margin-top:-4em;
					    margin-left:10%;}					
/*Kontakt*/	



#kontakt {margin-left:50%;}

#kontaktButton {margin-top:-12em;}


#kontaktnameschrift {margin-top:-26.5em;}

#kontaktnamefeld {margin-top:-32em;}
									

#kontaktmailschrift { margin-top:-24em;}
					   
#kontaktmailfeld {margin-top:-29em;}
					
					

#kontaktnachrichtschrift {margin-top:-19em;}
						  
#kontaktnachrichtfeld {margin-top:-21em;}

#hfu {margin-left:35em;}					
									
}



*******************************************
Bildschirmbreite Tablet Landscape <=1024px
*******************************************

@media screen and (min-width:768px) {
	
/**************Header**************/





/******Hintergrundbild und Name*******/
				   
#name {
		margin-top:1em;
		font-size:80pt;}	
			   
#hintergrund1 {
				height:93%;
				width:103.3%;}
				
	
				
/**************Aside**************/

#asidebereich {width:30%;}



#button0, #button1, #button2, #button3 {
								font-size:14pt;
								padding-left:20%;
								text-align:left;}

#button4 {
			margin-left:-25%;
			font-size:14pt;}
			
/**************Projekte**************/

#h2 {margin-top:25em;}

#h3 {margin-top:30em;}



.projekte {
    		height:32em;
			width:46%;}
			
#hochschulball {
				width:27em;
				height:35em;}

#pixplant {
			width:27.05em;
			height:34em;}
			
#buchstabe {
			width:45em;
			height:30.7em;}
			
#fuerstenbergplakat {
					 height:44em;
					 width:27em;}

#fuerstenbergflasche {
					 height:44em;
					 width:27em;}
			   
#messenger{height:60em;}


#awareness {
			height:30.95em;
			width:45em;}
			
#mopsgedicht {
			  height:45em;
			  width:38em;}
			  			
#shoppingsite {
			   height:90em;}
			  

			  
.text {
		font-size:14pt;
		margin-top:7em;}
		
#balken2 {margin-top:65em;}	
	
/**************Body**************/	

/*ÜberMich*/	

#hintergrund2 {
				height:39em;
				margin-left:-10em;}



#profilbild {
			 height:180px;
			 width:180px;}	

#divuebermich {width:20em;}

#uebermich {
			margin-top:5em;
			font-size:12pt;
			width:15em;}


#kreativitaet {
				font-size:19pt;
				margin-left:65%;
				margin-top:-20em;}	
				
#kreativitaetbild {
					top:3em;
					height:90px;
					width:140px;
					margin-left:80%;}
					
#malen {
		font-size:19pt;
		margin-top:-14em;
		margin-left:71%;}									   			  					   

#malenbild {
			height:80px;
			width:110px;
			top:9em;
			margin-left:56%;}
			
#programmieren {
				font-size:19pt;
				margin-top:-8.5em;
				margin-left:64%;}
				
#programmierenbild {
					height:80px;
					width:110px;
					top:15.5em;
					margin-left:82%;}	 
					
/*Kontakt*/

#hintergrund3 {height:90%;}	



#kontaktnameschrift {
					  margin-top:-22em;
					  margin-left:8%;}
#kontaktnamefeld {
					margin-top:-26.5em;
					margin-left:14%;}

#kontaktmailschrift {
					  margin-left:8%;
					  margin-top:-19em;}
					   
#kontaktmailfeld {
				  margin-left:14%;
				  margin-top:-23em;}
					

#kontaktnachrichtschrift {
						  margin-left:8%;
						  margin-top:-15em;}
#kontaktnachrichtfeld {
						margin-top:-15em;
						margin-left:8%;}
						
#kontaktbutton {
				 margin-left:8%;
				 margin-top:-7em;}	
				 

}

/********************************
Bildschirmbreite Desktop >1024px
********************************/

@media screen and (min-width:1024px) {
	

/**************Header**************/
		  
#hauptnavigation {padding-left:60%;}
	
		 
#hintergrund1 {height:130%;}			 

#name {
	  
	   font-size:120pt;}

/*************Aside***********************/


#asidebereich {width:30%;}







/**************Projekte********************/

.projekte {
			height:29em;
			width:34em;}

#h2 {margin-top:75em;}

#h3 {margin-top:30em;}

#h4 {margin-top:30em;}
				
#hochschulball {
				height:46em;
				width:32.95em;}

#pixplant {
			width:32.95em;
			height:45em;}
			
#buchstabe {
			width:48em;
			height:27.95em;}
			
#fuerstenbergplakat {
					 height:52em;
					 width:32.95em;}

#fuerstenbergflasche {
					 height:52em;
					 width:32.95em;}
			   
#messenger {width:32.95em;}

#awareness {
			height:34em;
			width:55em;}
			
#mopsgedicht {
			  width:41.95em;
			  height:60em;}	
			  		
#shoppingsite {
			  height:35em;
			  width:65em;}
			  
		  
/*************Body*******************/


/*ÜberMich*/

#divuebermich {width:15em;}

#uebermich {
			font-size:10pt;
			width:14em;}

#balken2 {
	      margin-top:120em;
}

#hintergrund2 {margin-left:-15em;}



/*Kontakt*/

#hintergrund3 {height:130%;}

#divkontakt {
			 margin-top:4em;
			 height:6em;}

#kontakt {font-size:17pt;
		  z-index:1000;}


#kontaktnameschrift {
					  margin-top:-31em;
					  font-size:14pt;
					  margin-left:8%;}
#kontaktnamefeld {
				  margin-top:-43.5em;
				  height:2em;
				  margin-left:14%;}

#kontaktmailschrift {
					  font-size:14pt;
					   margin-left:8%;
					   margin-top:-28em;}
					   
#kontaktmailfeld {
				  height:2em;
				  margin-left:14%;
				  margin-top:-40em;}
					

#kontaktnachrichtschrift {
							font-size:14pt;
							margin-left:8%;
							margin-top:-24em;}
#kontaktnachrichtfeld {
						margin-top:-30em;
						margin-left:8%;
						height:10em;}
						
#kontaktbutton {
				 font-size:12pt;
				 margin-left:8%;
				 margin-top:2em;}	
#facebook { 
			   height:40px;
			   width:40px;
			   margin-top: 2em;
			   margin-left:0%;}
#instagram{ 
			   height:40px;
			   width:40px;
			   margin-top: 2em;
			   margin-left:0.5%;}			   


#hfu {
	  height:100px;
      width:250px;
	  margin-top:1em;
	  margin-left:78%;
	  cursor:pointer;}	  
			  			 
} 